<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="static/css/mycss.css">
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        background-image: url("static/images/index.jpg");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
</style>
<body>
    <div class="box">
        <div class="head">注册</div>
        <form action="/doRegist" method="post" >

            <div class="input">
                <span>用户名: </span>
                <input type="text" name="name" placeholder="请输入用户名">
            </div>
            <div class="input">
                <span>密码: </span>
                <input type="password" name="password" placeholder="请输入密码">
            </div>
            <div th:text="${msg}" style="color: red ;font-size: 13px;margin-left: 20px"></div>
            <div>
                <button>提交</button>
            </div>
            <a href="/login" >已有账号？去登录</a>
        </form>
    </div>
</body>
</html>